@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body{font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;}
html, body {
	height: 100%;
}
ul{padding: 0 0;}
li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.container {
	padding-left: 30px;
}
/*******************page diviadtion set**************/

.wraper {
width: 100%;
position: relative;
}
.dividation {
display: flex;  display: -webkit-flex;
width: 100%;
}

.header {
	width: 17%;
	padding-left: 20px;
	border-right: solid 7px #676FFF;
}
.workarae {
	width: 83%;
	padding-right: 0;
	padding-left: 0;
}







.position {
position: fixed;
display: flex;
align-items: center;
display: -webkit-flex;
-webkit-align-items: center;
height: 100vh;
top: 0;text-align: center;
min-width: 209px;
}

.menusection ul li a {
	line-height: 60px;
	font-size: 24px;
	font-weight: 400;
	color: #37435D;
	text-transform: capitalize;
	transition: all ease-in 0.5s;
	position: relative;
}
.menusection ul li a:hover {
	color: #6870FF;
	transition: all ease-out .3s;
	text-decoration: underline;
	text-underline-offset: 15px;
	text-decoration-thickness: 2px;
}
/**
.menu ul li:hover ul {
	display: block;

}**/
.menu ul li .submenu {
	display: none;
	box-shadow: 5px 3px 25px rgba(0,0,0,0.09);
	margin-top: 0;
	transition: all ease-in-out 0.9s;
	transform: scale(1) translateZ(0);
	opacity: 1;
	left: 0;
	z-index: 999 !important;
	position: absolute;
	background: #6870FF;
	width: 100%;
	border-radius: 10px;
}
.menu ul {
	position: relative;
}
.menu ul li .submenu li a {
	color: white;
}
/*****************header**************/


figure, figcaption {
margin: 0 auto; }


#baner img {
	width: 100%;
	height: 600px;
}



#baner {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-image: url("../images/baner2.png");
	height: 650px;
	display: flex;
	align-items: center;
	background-attachment: fixed;
}
#baner::after {
	position: absolute;
	background: rgba(0,0,0,0.7);
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}

#baner .baner-text {
	text-align: center;
	top: -56px;
	left: 0;
	right: 0;
	z-index: 99;
	margin: 0 auto;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
}
	#baner  .baner-text h1 {
	color: white;
	margin-bottom: 0; }

	#baner  .baner-text span {
	color: #676FFF; }

	#baner  .baner-text h2 {
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 39px; }
	
	#baner  .baner-text h4 {
	color: #676FFF;
	margin-top: 18px;
	font-weight: normal;
	font-family: 'Courgette', cursive;
	margin-bottom: 20px;
	font-size: 26px; }

	#baner .baner-text .button_group {
	width: 100%;
	margin-top: 34px; }

	#baner  .baner-text .button_group a {
		background: #676FFF;
		color: white;
		font-size: 14px;
		border: solid 1px;
		padding: 14px 57px;
		line-height: 50px;
		margin: 0 11px;
		font-weight: 600;
		border-radius: 3px; }


		#baner  .baner-text .button_group a:hover {
		background: white;
		color: #676FFF;
		transition: all ease-in-out 0.5s; }

		#baner  .baner-text .button_group #work {
		background: white;
		color: #676FFF; }

		#baner  .baner-text .button_group #work:hover {
		background: #676FFF;
		color: white;
		transition: all ease-in-out 0.5s; }

		#baner .slick-dots li button::before {
	font-size: 53px;
	top: -68px;
	opacity: 1;
	color: white; }

	#baner .slick-dots li.slick-active button::before {
	color: #676FFF;
	opacity: 1; }

	#baner  #nextt, #baner  #prevv {
	position: absolute;
	z-index: 999;
	top: auto;
	width: 15px !important;
	min-height: 16px !important;
	bottom: 60px;
	cursor: pointer; }

	#baner #nextt {
	right: 0;
	left: -135px;
	margin: auto; }

#baner #prevv {
	right: -131px;
	left: 0;
	margin: 0 auto; }

	#baner .slider-image #prevv, #baner .slider-image #nextt {
		width: 15px !important;
		height: 26px;
	}
	#baner .slick-dotted.slick-slider {
		margin-bottom: 19px;
	}
	#baner .slick-dots li {
		margin: 24px 5px;
	}

	#baner .baner-text .ban-top-proclntyear {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	#baner .baner-text .ban-top-proclntyear span em {
		color: white;
		font-weight: 600;
		font-size: ;
		font-style: normal;
		font-size: 83px;
		color: #fff;
		font-weight: 900;
		letter-spacing: 1px;
		color: rgba(255, 255, 255, 0.9);
		font-style: normal;
	}

	#baner .baner-text .ban-top-proclntyear span p {
		color: #fff;
		margin: 0px;
		font-size: 24px;
		font-weight: 600;
		margin-top: -15px;
	}
	#baner .baner-text .ban-midlst {
		margin-top: 26px;
	}
	#baner .baner-text .ban-midlst {
		margin-top: 26px;
		display: flex;
		flex-direction: column;
	}

	#baner .baner-text .ban-midlst strong {
		font-size: 35px;
		color: white;
	}

	#baner .baner-text .ban-midlst img {
		width: 73px;
		height: 47px;
	}
	#baner .baner-text .ban-midlst .rt {
		display: flex;
		justify-content: space-around;
		margin-top: 57px;
	}
	#baner .baner-text .ban-midlst .rt span {
		font-size: 25px;
		color: #fff;
		font-weight: 400;
		position: relative;
	}
	#baner .baner-text .ban-midlst .rt span::after {
		position: absolute;
		content: "";
		background-image: url("../images/star.png");
		width: 12px;
		height: 11px;
		left: -20px;
		top: 15px;
	}
	#baner .baner-text .lnk-btn {
		margin-top: 60px;
	}
	#baner .baner-text .lnk-btn a {
		color: white;
		font-size: 29px;
		border: solid 1px;
		padding: 8px 39px;
		border-radius: 12px;
	}






	#about {
		margin-top: -41px;
		background-image: url(../images/about.jpg);
		background-repeat: no-repeat;
		height: 675px;
		background-size: cover;
		background-position: center left;
		position: relative;
		width: 100%;
		background-attachment: fixed;
	}

	#about .row {
		display: flex;
		width: 100%;
		margin: 0;
	}
	#about .row .left_side {
		width: 40%;
		position: relative;
		z-index: 99;
		text-align: center;
		padding: 0 30px;
	}
	#about .row .right_side ul {
		display: flex;
		flex-wrap: wrap;
	}
	#about .row .right_side ul li {
		width: 33%;
		border: solid 1px;
		text-align: center;
	}
	#about::after {
		width: 47%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		content: "";
		background: rgba(0, 120, 174, 0.9);
		background: rgba(255, 81, 0, 0.9);
		background: #012790;
		background: -moz-linear-gradient(left,#012790 0%,#158fb9 100%);
		background: -webkit-linear-gradient(left,#012790 0%,#158fb9 100%);
		background: linear-gradient(to right,#012790 0%,#158fb9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012790', endColorstr='#158fb9',GradientType=1 );
		display: -webkit-box;
	}

	#about .row .left_side h2 {
		font-size: 48px;
		margin-top: 21px;
		margin-bottom: 0;
		color: white;
	}
	#about .row .left_side h1 {
		margin-top: 10px;
		color: white;
		font-size: 23px;
		font-weight: 400;
		line-height: 31px;
	}
	#about .row .left_side p {
		color: white;
		font-size: 16px;
		line-height: 29px;
	}

	#about .row .right_side {
		width: 60%;
		position: relative;
		z-index: 99;
		background: rgba(255, 255, 255, 0.9);
		padding: 15px;
		margin-top: 25px;
	}
	#about .row .right_side ul li {
		width: 33%;
		text-align: center;
		background: transparent;
		border: 1px solid #ddd;
		/* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
		transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		align-self: center;
		padding: 41px 0;
	}
	#about .row .right_side ul li:hover {
		background: red;
		background: #fff;
		border: 1px solid #fff;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
	}
	#about .row .right_side ul li h4 {
		font-size: 16px;
		margin: 0;
		font-weight: 400;
	}
	#about .row .right_side ul li img {
		width: 80px;
		height: 80px;
		margin: 0 auto;
	}
	.why-hometeam img {
		width: 100%;
		height: 170px;
	}











.bg-5 {
    background-image: url("http://regaltheme.com/tf/multi/rnr/assets/img/bg/5.png");
    background-position: center 65%;
    background-size: auto;
    background-repeat: no-repeat;
}
.client-testimonial .client-nav .nav-item {
  position: absolute;
  z-index: 5;
  width: 10.5rem; }
  .client-testimonial .client-nav .nav-item:nth-child(1) {
    top: 2.5rem;
    right: 16%;
    width: 7rem; }
  .client-testimonial .client-nav .nav-item:nth-child(2) {
    bottom: 3rem;
    right: 0; }
    @media (min-width: 1281px) {
      .client-testimonial .client-nav .nav-item:nth-child(2) {
        right: -3rem; } }
  .client-testimonial .client-nav .nav-item:nth-child(3) {
    bottom: 9rem;
    left: 4%; }
  .client-testimonial .client-nav .nav-item:nth-child(4) {
    top: -2rem;
    left: 0;
    width: 7rem; }
    @media (min-width: 1281px) {
		.client-testimonial .client-nav .nav-item:nth-child(4) {
			left: 0;
			top: -106px;
		} }
  .client-testimonial .client-nav .nav-item:nth-child(5) {
    top: -9rem;
    right: 0;
    width: 7rem; }
    @media (min-width: 1281px) {
      .client-testimonial .client-nav .nav-item:nth-child(5) {
        right: 0rem; } }
  @media (max-width: 767.98px) {
    .client-testimonial .client-nav .nav-item {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      right: inherit;
      width: 7rem !important; } }

.client-testimonial .tab-content .fade {
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.client-testimonial .tab-content .client-thumb {
  width: 10.5rem; }

  .client-testimonial .tab-content .client-desc {
	-webkit-box-shadow: 0px 15px 50px 0px rgba(115, 115, 115, 0.06);
	box-shadow: 0px 1px 4px 3px rgba(115, 115, 115, 0.09);
	min-height: 15rem;
	padding: 0rem;
}
  .client-testimonial .tab-content .client-desc h6 {
    font-size: 1.3rem; }
	.section-ptb, .section-pt, .section-pb {
		padding-top: 45px;
		padding-bottom: 20px;
	}
  @media (min-width: 768px) and (max-width: 991.98px) {
    .section-ptb, .section-pt, .section-pb {
      padding-top: 8rem;
      padding-bottom: 8rem; } }
  @media (max-width: 767.98px) {
    .section-ptb, .section-pt, .section-pb {
      padding-top: 6rem;
      padding-bottom: 6rem; } }
      hr.line {
  margin: 0;
  border-color: #1c223a;
  border-width: 1px;
  width: 4.5rem; }
  hr.line.line-sm {
    width: 8.6rem;
}
hr.line.bw-2 {
    border-width: 2px;
}
.mb-5 {
    margin-bottom: 0.5rem !important;
}
.mb-80 {
  margin-bottom: 4rem !important; }
  .mb-20 {
  margin-bottom: 2rem !important; }
  .mb-25 {
  margin-bottom: 2.5rem !important; }
img {
  max-width: 100%; }


  .section-ptb.bg-white.bg-5 {
	overflow: hidden;
	background-image: url("../images/background-testimonials-1.jpg");
	height: 840px;
	background-attachment: fixed;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}


.nav-tabs {
	border-bottom: none !important;
	margin-bottom: 40px !important;
}

.section-ptb.bg-white.bg-5 h2 {
	font-size: 52px;
	font-weight: 600;
	color: linear-gradient(to right,#012790 0%,#158fb9 100%);
	color: #043997;
}

.section-ptb.bg-white.bg-5 .mb-20 {
	font-size: 21px;
	line-height: 27px;
}
.line.bw-2.mx-auto.line-sm.mb-5 {
	display: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
	border: solid 2px !important;
	border-radius: 11px !important;
	background: #6870FF !important;
}
.mb-10 {
	color: #043997;
	font-size: 26px;
	font-weight: 600;
}
.section-ptb.bg-white.bg-5 p {
	font-size: 20px;
	padding: 0 12px;
	line-height: 30px;
	margin-top: 18px;
}







#industrie {
	background-color: #F1F1F1;
	padding: 55px 0;
	background-image: url("../images/industries-we-bg.webp");
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
}
#industrie h3 {
	text-align: center;
	font-size: 43px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 29px;
}
#industrie span {
	color: #6870FF;
}
#industrie ul {
	display: flex;flex-wrap: wrap;
}
#industrie li {
	background-color: white;
	background-image: url("../images/menu-icon.png");
	margin: 11px 11px;
	text-align: center;
	align-self: center;
	padding: 33px 1px;
	width: 23%;
	border-radius: 20px;

}
#industrie .container, #industrie .container-lg, #industrie .container-md, #industrie .container-sm, 
#industrie .container-xl {
	max-width: 100% !important; margin: 0 !important;
}
#industrie h4 {
	font-size: 20px;
	margin-top: 19px;
}
#industrie img {
	width: 100%;
	height: auto;
}
#why {
	background: linear-gradient(to right,#012790 0%,#158fb9 100%);
	padding-top: 67px;
	padding-bottom: 51px;
}
#why .row {
	flex-direction: column;
}
#why h4 {
	color: white;
	text-align: center;
	font-size: 41px;
	font-weight: 600;
	margin-top: -23px;
}
#why ul {
	margin-top: 50px;
	display: flex;
}
#why ul li {
	background: white;
	margin: 0 22px;
	text-align: center;
	padding: 27px 0;
	border-radius: 13px;
}
#why h2 {
	font-size: 21px;
	font-weight: 600;
	margin-top: 26px;
}
#why p {
	font-size: 18px;
	padding: 0 18px;
	line-height: 23px;
	margin-bottom: 0;
}
footer {
	background: #0F131F;
	padding: 44px 26px;
}

footer .fo {
	display: flex;
}
footer .fo .one {
	width: 32%;
	padding-right: 31px;
}

footer .fo .one h2 {
	color: #8d9096;
	font-size: 27px;
}
footer a {
	font-size: 20px;
	margin-bottom: 0;
	display: block;
	color: white;
	line-height: 50px;
	font-weight: 500;
	text-decoration: underline;
}
footer p {
	font-size: 16px;
	color: white;
	padding-right: 40px;
	line-height: 25px;
}
.copy-right {
	text-align: center;
	margin-top: 51px;
}
.copy-right p {
	color: #8d9096;
	font-size: 22px;
}
footer {
	background: #0F131F;
	padding-top: 66px;
	padding-bottom: 20px;
	padding-left: 24px;
}

footer h3 {
	color: white;
	font-size: 24px;
	line-height: 31px;
	font-weight: 600;
	margin-bottom: 25px;
}


footer .fo .one ul {
	padding-left: 64px;
}


footer a {
	font-size: 20px;
	margin-bottom: 0;
	display: block;
	color: white;
	line-height: 55px;
	font-weight: 500;
	text-decoration: none;
}
footer .fo img {
	width: 100%;
	height: 279px;
	object-fit: contain;
}

#ul {
	padding: 46px 0;
	background: whitesmoke;
}
#ul ul {
	display: flex;
	justify-content: space-evenly;
}

#ul ul li {
	width: 8%;
}
#ul ul li img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}



.section.apt-70.apt-40-xs.apb-50.ofhidden {
	background: #f7f7f7f7;
	padding: 44px 0;
}
.container.sc_clients_logo_info.prelative {
	margin: 0;
	padding: 0;
}
.section.apt-70.apt-40-xs.apb-50.ofhidden .text-center {
	margin-bottom: 33px;
}
.section.apt-70.apt-40-xs.apb-50.ofhidden .text-center .text-uppercase.font16.hcolor {
	font-size: 20px;
	color: #050748;
}

.section.apt-70.apt-40-xs.apb-50.ofhidden .text-center h3 {
	font-size: 41px;
	font-weight: 600;
	font-weight: 600;
	color: #050748;
}
.section.apt-70.apt-40-xs.apb-50.ofhidden .container.sc_clients_logo_info.prelative {
	max-width: 100%;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}
.clientcarousel {
	display: flex;
	flex-wrap: wrap;
}
.clientcarousel .card {
	width: 20%;
	margin: 0 0;
}
.clientcarousel .card img {
	width: 200px;
	height: 150px;
	margin: 0 auto;
	object-fit: contain;
}
.clientcarousel .card:hover {
	background: red;
	box-shadow: 5px 20px 50px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
	background: white;
	transition: all ease-in-out .5s;
}